@import "tailwindcss";

@theme {
  --color-shaday-bg: #121212;
  --color-shaday-card: #1E1E1E;
  --color-shaday-red: #B30000;
  --color-shaday-text: #FFFFFF;
  --color-shaday-muted: #A0A0A0;
}

body {
  background-color: var(--color-shaday-bg);
  color: var(--color-shaday-text);
}